body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #eef2f7;
}

/* HERO */
.hero {
    position: relative;
    height: 420px;
    background: url("iit_kgp.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

/* SECTION */
.container {
    max-width: 1000px;
    margin: 25px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
    border-left: 6px solid #2563eb;
    padding-left: 10px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

.center {
    text-align: center;
}